html(lang='en')
    body     
        h1 Regi-Trust Registry Network
        h2= isAdmin ? 'An Enrollment Request has been Approved' : 'Your Registry Service Provider Enrollment request has been reviewed.'
        if isAdmin
            p 
                | A Registry Service Provider Enrollment request for #{entityName} was 
                strong= reviewStatus
                |  by an onboarding manager and an account for the provider should be made. 
        else
            p 
                | Your Registry Service Provider Enrollment request for #{entityName} was 
                strong= reviewStatus
                if reviewStatus === 'Approved'
                    |  and an email will be sent out in 1-2 business days with your account and login information. 
        p
            a(href=submissionReviewLink) Click here
            | &nbsp;
            span to view the request.
